In [18]:
#Idag: Preprocessing av data
# För att vi ska kunna göra en bra modell behöver vi först förbereda datan.
# Det kan typiskt saknas data, eller finnas kategorisk (strängar) data som
# vill göra om till numeriuska värden. 

import numpy as np
import pandas as pd
from sklearn import datasets

In [19]:
# Ladda in lite schysst data
iris = datasets.load_iris()

# Skapa en dataframe
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                        columns= iris['feature_names'] + ['target'])

In [20]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [21]:
# Ta bort lite data, och gör vissa rader till kategorisk data

df.loc[3:7, 'sepal length (cm)'] = np.nan
df.loc[8:15, 'target'] = 'setosa'
df.loc[56:64, 'target'] = 'versicolor'

In [22]:
df[7:16]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
7,NaN,3.4,1.5,0.2,0.0
8,4.4,2.9,1.4,0.2,setosa
9,4.9,3.1,1.5,0.1,setosa
10,5.4,3.7,1.5,0.2,setosa
11,4.8,3.4,1.6,0.2,setosa
12,4.8,3.0,1.4,0.1,setosa
13,4.3,3.0,1.1,0.1,setosa
14,5.8,4.0,1.2,0.2,setosa
15,5.7,4.4,1.5,0.4,setosa

In [23]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,NaN,3.1,1.5,0.2,0.0
4,NaN,3.6,1.4,0.2,0.0

In [24]:
# Hantera saknad data
df["sepal length (cm)"].fillna(df['sepal length (cm)'].mean(), inplace=True)

In [25]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.100000,3.5,1.4,0.2,0.0
1,4.900000,3.0,1.4,0.2,0.0
2,4.700000,3.2,1.3,0.2,0.0
3,5.875172,3.1,1.5,0.2,0.0
4,5.875172,3.6,1.4,0.2,0.0

In [26]:
# Gör om våra kategoriska värden till dummy värden

df = pd.get_dummies(df,columns=["target"], prefix = "prox")

In [ ]:
# Ett annat sätt är att hantera kategoriska värden med encoders, binary eller one-hot t.ex

In [27]:
df[7:17]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),prox_0.0,prox_1.0,prox_2.0,prox_setosa,prox_versicolor
7,5.875172,3.4,1.5,0.2,1,0,0,0,0
8,4.400000,2.9,1.4,0.2,0,0,0,1,0
9,4.900000,3.1,1.5,0.1,0,0,0,1,0
10,5.400000,3.7,1.5,0.2,0,0,0,1,0
11,4.800000,3.4,1.6,0.2,0,0,0,1,0
12,4.800000,3.0,1.4,0.1,0,0,0,1,0
13,4.300000,3.0,1.1,0.1,0,0,0,1,0
14,5.800000,4.0,1.2,0.2,0,0,0,1,0
15,5.700000,4.4,1.5,0.4,0,0,0,1,0
16,5.400000,3.9,1.3,0.4,1,0,0,0,0